<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BPM Web Console</title>
    <link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="~/favicon_bpm.ico" />

    <!-- Add CSS style sheet -->
    <link rel="stylesheet" href="~/lib/node_modules/@@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" />
    <link rel="stylesheet" href="~/css/_Header.css" />
    <link rel="stylesheet" href="~/css/_LeftMenu.css" />
    @RenderSection("styles", required: false)
</head>
<body onload="DispComTime()">
    <partial name="_Header.cshtml" />
    <partial name="_LeftMenu.cshtml" />
    <div class="content">
        <div class="content_middle">
            <div class="title_area">
                <div class="function_title" id="function_title"><span class="remarks"></span></div>
                @RenderSection("graphics", required: false)
            </div>
            <div class="function_area">
                @RenderBody()
            </div>
        </div>
    </div>

    <bundle name="wwwroot/bundles/jquery/jquery-bundle.min.js"></bundle>
    <bundle name="wwwroot/bundles/tooltip/tooltip-bundle.min.js"></bundle>
    <script src="~/lib/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/_Header.js"></script>
    <script src="~/js/_LeftMenu.js"></script>
    <script src="~/js/_MiscLib.js"></script>
    <script src="~/js/_ValidatorSetting.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
