<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BPM Web Console</title>
    <link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="~/favicon_bpm.ico" />

    <!-- Add CSS style sheet -->
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.2-web/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" />
    <link rel="stylesheet" href="~/css/_Header.css" />
    <link rel="stylesheet" href="~/css/_LeftMenu.css" />
    @RenderSection("styles", required: false)

    @*<link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body onload="DispComTime()">
    <partial name="_Header.cshtml" />
    <partial name="_LeftMenu.cshtml" />
    <div class="content">
        <div class="content_middle">
            <div class="title_area">
                <div class="function_title" id="function_title"><span class="remarks"></span></div>
                @RenderSection("graphics", required: false)
            </div>
            <div class="function_area">
                @RenderBody()
            </div>
        </div>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BPMWebConsole - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <!-- Add jQuery, Bootstrap tools and required JS files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/_Header.js"></script>
    <script src="~/js/_LeftMenu.js"></script>
    <script src="~/js/_MiscLib.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
